services:
  app:
      container_name: app
      build:
        context: ./app
        dockerfile: Dockerfile
      env_file:
        - ./app/.env
      ports:
        - "8000:8000"
      # Permite al contenedor acceder al host usando host.docker.internal
      # Esto es necesario para conectarse a su RAG que corre en localhost:8000
      extra_hosts:
        - "host.docker.internal:host-gateway"
      restart: unless-stopped

